
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
*.xdv
Informe/Informe.pdf
Informe/._Informe.pdf
Informe/._2_1_2_ModeloElectricoEquivalente.png
Proyecto Integrador/._punto6.slx
Informe/._2_1_2_ModeloGlobalNL.png
Proyecto Integrador/._modeloLTIvsNL.slx
*.gz
*.autosave
Informe/._Informe.tex
Proyecto Integrador/._comparcion.slx
Proyecto Integrador/._Datos.m
Proyecto Integrador/._empezando.slx
Proyecto Integrador/._Punto1_52.slx
Proyecto Integrador/._Punto1_522.slx
Informe/._diagramaObservador.png
Proyecto Integrador/._Punto_53.slx
Presentacion/._diagramaPMSM.drawio
Presentacion/._diagramaPMSM.png
Presentacion/._diagramaPMSM2.png
Informe/._DiagramabloquesLTI.png
Proyecto Integrador/._DiagramadebloquesLTI.slx
Proyecto Integrador/._Punto5_5.slx
Proyecto Integrador/._Untitled52.m
Informe/._modelocompleto.png
Proyecto Integrador/Punto5_5.slx.r2019a
