
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
*.xdv
Informe/Informe.pdf
Informe/._Informe.pdf
Informe/._2_1_2_ModeloElectricoEquivalente.png
Proyecto Integrador/._punto6.slx
Informe/._2_1_2_ModeloGlobalNL.png
Proyecto Integrador/._modeloLTIvsNL.slx
